.button-controls {
    display: inline-block;
    height: 20px;
    min-width: 20px;

    font-family: inherit;
    font-size: .8em;
    font-weight: 600;
    line-height: 20px;
    color: var(--white);
    text-align: center;
    text-shadow: 1px 1px 1px #262121;;

    background: none;
    border-radius: 3px;

    z-index: 3;
    user-select: none;
}

.button-controls:hover {
    cursor: pointer;
    background-color: #ffffff61;
}