.footer {
    height: 30px;
    width: 100%;
    font-size: 1.5rem;
    color: var(--white);
    text-align: center;
    line-height: 30px;
    background: linear-gradient(45deg, rgba(94, 172, 110) -5%, var(--bar-color) 38%, #e4a766 95%);
}

@media (max-width: 600px) {
    .footer{
        position: fixed;
        bottom: 0;
        z-index: 10;
        font-size: 1rem;
    }
}